<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <div th:replace="fragments/topbar :: topbar"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <div layout:fragment="content">
                    <!-- ============================================================================ -->
                    <!-- This content is only used for static prototyping purposes (natural templates)-->
                    <!-- and is therefore entirely optional, as this markup fragment will be included -->
                    <!-- from "fragments/header.html" at runtime.                                     -->
                    <!-- ============================================================================ -->
                    <h1>Static content for prototyping purposes only</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
                        Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
                        Phasellus et placerat elit.
                    </p>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer-normaluser"></div>
    </div>
</div>
<div th:replace="fragments/components :: scroll-to-top"></div>
</body>
</html>