<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head th:replace="fragments/header :: header(~{::title},~{}, ~{})">
    <title>MA - Transaction details</title>

</head>
<body>
<div layout:fragment="content">
    <div class="container py-3">
        <div class="row">
            <div class="mx-auto col-sm-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Transaction details</h6>
                    </div>
                    <div class="card-body">
                        <dl class="row" th:object="${transaction}">
                            <dt class="col-sm-3">Name</dt>
                            <dd class="col-sm-9" th:text="*{name}">name</dd>

                            <dt class="col-sm-3">Amount</dt>
                            <dd class="col-sm-9" th:text="*{amount} + ' HRK'">123 HRK</dd>

                            <dt class="col-sm-3">Description</dt>
                            <dd class="col-sm-9" th:text="*{description}">Longer description</dd>

                            <dt class="col-sm-3">Category</dt>
                            <dd class="col-sm-9" th:text="${transaction.transactionCategory.name}">category</dd>

                            <dt class="col-sm-3">Type</dt>
                            <dd class="col-sm-9" th:text="${transaction.transactionType.name}">category</dd>
                        </dl>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <a th:href="@{/transaction/new}" class="btn btn-primary">New Transaction</a>
                                <a th:href="@{/transaction}" class="btn btn-success">Transaction list</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>